<ion-toolbar>
  <ion-title>
    Sélection de la zone de recherche
  </ion-title>
</ion-toolbar>
<ion-content>
  <app-portal></app-portal>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button fill="outline" expand="block" color="primary" (click)="close()">Annuler</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button fill="outline" expand="block" color="primary" (click)="selectZone()">Sélectionner</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>