@import './pages/portal/portal.theming';

@mixin app-theming($theme) {
  @include app-portal-theming($theme);
}

app-portal{
  max-height: 1%;
}

app-zone-selection{
  max-height:50%;
}

app-feature-viewer{
  max-height: 49%;
}